sanic==21.9.*
river==0.8.*
sh
psutil==5.6.*
python-consul==1.1.*
redis==3.5.*
aioredis==2.0.*
git+https://github.com/victusfate/rsyslog_cee.git@main#egg=rsyslog_cee
git+https://github.com/victusfate/bandolier.git@main#egg=bandolier
